default_cycas_container_location = '/cycas/cycas.py'

profiles{
    ci{
        docker.enabled = true
        process.container = 'damicyclomics/cyclomicseq:0.8.0'
        params.cycas_location = default_cycas_container_location
        params.economy_mode = true
    }
}

params{
    split_on_adapter = false

    filtering{
        minimun_raw_length  = 1000
    }
    
    minimap2parameterized{
        min_chain_score =  1
        min_chain_count = 10
        min_peak_aln_score = 20
  }
}