/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

profiles{
    docker{
        docker.enabled = true
        process.container = 'cyclomics/cyclomicsseq-dev:0.1.1'
    }
}