/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

profiles{
    docker{
        docker.enabled = true
        process.container = 'damicyclomics/cyclomicseq:0.8.0'
    }
}
